.app-upload {
    overflow-y: auto;
    height: 600px;
    .item-list {
        .item {
            display: flex;
            margin-bottom: 4px;
            padding: 4px 8px;
            border-radius: 3px;
            .file-name {
                margin-left: 4px;
            }
            .area{
                justify-content: flex-end;
                text-align: end;
                padding-right: 0;
                padding-left: 10px;
                > [nz-icon] {
                    cursor: pointer;
                }
            }
        }
    }
}
