<nz-layout style="height: 100%;width: 100%;">
    <nz-sider nzCollapsible nzWidth="200px">
      <div class="logo"><span nz-icon nzType="aliwangwang" nzTheme="outline"></span></div>
      <ul nz-menu nzTheme="dark" nzMode="inline" (click)="onMenuClick($event)">
        <!-- <li nz-menu-item>
          <span nz-icon nzType="setting" nzTheme="outline"></span>
          <span>처음 설정</span>
        </li> -->
        <li nz-menu-item>
            <span nz-icon nzType="file"></span>
          <span>결과 미리보기</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>  
      <nz-content>
        <div class="inner-content">
            <app-result-page *ngIf="isResult"></app-result-page>
            <app-commonfile-setting *ngIf="isSetting"></app-commonfile-setting>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>