<div class="main">
    <div class="header">
        <span style="padding: 5px;">생성할 모듈</span>
        <input nz-input placeholder="small size" nzSize="small" [(ngModel)]="current_module" />
        <button nz-button nzType="primary" (click)="createModal()">파일 업로드</button>
        <button nz-button (click)="changeEvent()" [disabled]="!disableCreate()">데이터 생성</button>
        <button nz-button (click)="exportexcel()" [disabled]="rowData.length == 0">Export to Excel</button>
        <button nz-button (click)="exportcsv()" [disabled]="rowData.length == 0">Export to CSV</button>
    </div>
    <div class="content">
        <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine" [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef" [rowData]="rowData" [rowSelection]="'multiple'" [animateRows]="true" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>