.main {
    height: 100%;

    .ant-input {
        width: 300px;
    }
    
    .header {
        height: 32px;
        display: flex;
    }

    .content {
        height: calc(100% - 32px);
    }
}